# Build directories
/build/
/dist/
/.rosdep/
/.venv/
/target/
rust/target/
/.conan/
/.pytest_cache/

# IDE & Editor files
/.vscode/
/.idea/
*.swp
*~

# Compiled objects & libraries
*.o
*.so
*.dylib
*.a
*.bin
*.egg-info/
__pycache__/
