[submodule "ros2_ws/src/usb_can_driver"]
	path = ros2_ws/src/usb_can_driver
	url = git@github.com:rodep-soft/el05_usb_can_driver.git
[submodule "ros2_ws/src/el05_driver"]
	path = ros2_ws/src/el05_driver
	url = git@github.com:rodep-soft/ROS2-Seeed-Studio-USB-CAN-Analyzer-Driver.git

