Source: libbno055-linux
Priority: optional
Maintainer: lazytatzv <lazytatzv@users.noreply.github.com>
Build-Depends: debhelper (>= 11), cmake, pkg-config
Standards-Version: 4.5.0
Section: libs
Homepage: https://github.com/lazytatzv/libbno055-linux

Package: libbno055-linux-dev
Section: libdevel
Architecture: any
Depends: libbno055-linux1 (= ${binary:Version}), ${misc:Depends}
Description: Development files for libbno055-linux
 A thread-safe and dependency-free C++17 library for the
 BNO055 sensor over I2C on Linux. This package contains the headers
 and CMake configuration files required for development.

Package: libbno055-linux1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Shared library for libbno055-linux
 A thread-safe and dependency-free C++17 library for the
 BNO055 sensor over I2C on Linux. This package contains the compiled
 shared library.
