<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <material name="black"><color rgba="0.1 0.1 0.1 1"/></material>
  <material name="aluminum"><color rgba="0.8 0.8 0.8 1"/></material>
  <material name="red"><color rgba="0.8 0.0 0.0 1"/></material>

  <xacro:macro name="box_inertia" params="m w h d ox:=0 oy:=0 oz:=0.05">
    <inertial>
      <origin xyz="${ox} ${oy} ${oz}"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12)*(h*h+d*d)}" ixy="0" ixz="0" iyy="${(m/12)*(w*w+d*d)}" iyz="0" izz="${(m/12)*(w*w+h*h)}"/>
    </inertial>
  </xacro:macro>

  <xacro:macro name="cylinder_inertia" params="m r h">
    <inertial>
      <origin xyz="0 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${(m/12)*(3*r*r+h*h)}" ixy="0" ixz="0" iyy="${(m/12)*(3*r*r+h*h)}" iyz="0" izz="${(m/2)*r*r}"/>
    </inertial>
  </xacro:macro>
</robot>
